.action-button {
  margin-bottom: 10px!important;
}

.scoring-button {
  background-color: green!important;
}

.player {
  display: inline-block;
  width: 100%;
  min-height: 200px;
  text-align: center;
}

.player-header {
  max-height: 60px;
  margin: auto;
}

.player svg {
  height: auto;
  width: 13%;
  padding: 0;
  border-radius: 5px;
  border: 1px solid #E0E0E0;
  margin: 15px 5px;
  pointer-events: none;
}

.player rect {
  pointer-events: none;
}

.player svg:hover {
  margin-bottom: 15px;
}

.player rect {
  width: auto;
}

.player-name {
  padding: 0 20px;
}

.crib-help-chip {
  margin-top: 12px;
}

.player-cards {
  min-height: 210px;
  display: inline-flex;
  padding: 0 10px;
}

.player-cards span {
  padding: 3px 3px 0;
}

.pegging-total {
  font-size: 32px;
  color: #009688;
}

.played-cards {
  margin: auto;
  display: inline-flex;
}

.played-card svg {
    height: 90px;
    width: auto;
    margin: -30px -25px 0 auto;
}

.available-card {
  height: 100%;
  display: inline-block;
  max-width: 120px;
  transition: margin 300ms;
}

.ReactModal__Content {
  text-align: center;
}

.selected-rank {
  border: 2px solid blue;
  border-radius: 10%;
}

.selected-suit {
  border: 2px solid blue;
  border-radius: 10%;
}

.joker-suit-selection-row {
  padding: 0 0 20px 0;
}

.joker-rank-row {
  height: auto;
  min-height: 50px;
  padding: 10px;
  font-size: 28px;
  overflow-wrap: break-word;

}
.joker-rank-selection {
  padding: 5px 10px;
}

.joker-submit-button {
  margin-bottom: 10px;
}