.scoring-button {
  background-color: green!important;
  color: white!important;
}

.player-cards {
  min-height: 210px;
  width: 100%;
}

.player-cards span {
  padding: 0 2px;
}

.pegging-total {
  font-size: 32px;
  color: #009688;
}

.played-cards {
  margin: auto;
  display: inline-flex;
}

.played-card svg {
    height: 90px;
    width: auto;
    margin: -30px -25px 0 auto;
}

.available-card {
  height: 100%;
  max-width: 120px;
  transition: margin 300ms;
  float: left;
  margin: 65px -45px 0 0
}

.active-card svg {
  margin-top: -15px;
  box-shadow: 0 8px 6px -6px black;
  transition: margin 300ms;
  z-index: 10;
}

.selected-rank {
  border: 2px solid blue;
  border-radius: 10%;
}

.selected-suit {
  border: 2px solid blue;
  border-radius: 10%;
}

.joker-suit-selection-row {
  padding: 0 0 20px 0;
}

.joker-rank-row {
  height: auto;
  min-height: 50px;
  padding: 10px;
  font-size: 28px;
  overflow-wrap: break-word;

}
.joker-rank-selection {
  padding: 5px 10px;
}

.joker-submit-button {
  margin-bottom: 10px;
}