.action-button {
  margin-bottom: 10px!important;
}

.player {
  display: inline-block;
  width: 100%;
  min-height: 200px;
  text-align: center;
}

.player-header {
  max-height: 60px;
  margin: auto;
}

.player svg {
  height: auto;
  width: 13%;
  padding: 0;
  border-radius: 5px;
  border: 1px solid #E0E0E0;
  margin: 15px 5px;
  pointer-events: none;
}

.player rect {
  pointer-events: none;
}

.player svg:hover {
  margin-bottom: 15px;
}

.player rect {
  width: auto;
}

.player-name {
  padding: 0 20px;
}

.player-cards {
  min-height: 210px;
  display: inline-flex;
  padding: 0 10px;
}

.player-cards span {
  padding: 3px 3px 0;
}

.pegging-total {
  font-size: 32px;
  color: #009688;
}

.played-cards {
  margin: auto;
  display: inline-flex;
}

.played-card svg {
    height: 90px;
    width: auto;
    margin: -30px -25px 0 auto;
}

.available-card {
  height: 100%;
  display: inline-block;
  max-width: 120px;
}

.ReactModal__Content {
  text-align: center;
}