.scoreboard {
  margin: auto 0;
  padding: 0 0 0 60px;
  text-align: center;
}

.scoreboard-player {
  padding: 5px 0;
  text-align: center;
}

.scoreboard-player-progress {
  height: 14px!important;
  border-radius: 5px!important;
  margin-top: 0!important;
}

.scoreboard-player-score {
  text-align: left;
  margin-top: -5px;
}

.player-one {
  background-color: #6ab7ff!important;
}

.player-one .MuiLinearProgress-barColorPrimary {
  background-color: #1565c0!important;
}

.player-two {
  background-color: #ff6f60!important;
}

.player-two .MuiLinearProgress-barColorPrimary {
  background-color: #b71c1c!important;
}


.player-three {
  background-color: #ffffa8!important;
}

.player-three .MuiLinearProgress-barColorPrimary {
  background-color: #fdd835!important;
}

.player-four {
  background-color: #98ee99!important;
}

.player-four .MuiLinearProgress-barColorPrimary {
  background-color: #388e3c!important;
}