.scoreboard {
  margin: auto 0;
  padding: 0 0 0 60px;
  text-align: center;
}

.scoreboard-player {
  padding: 5px 0;
  text-align: center;
}

.progress {
  position: relative;
  padding-left: 0!important;
  padding-right: 0!important;
  height: 14px!important;
  border-radius: 5px!important;
  margin-top: 0!important;
}

.scoreboard-player-score {
  text-align: left;
  margin-top: -5px;
}

.player-one {
  background-color: #1565c0!important;
}

.player-two {
  background-color: #b71c1c!important;
}


.player-three {
  background-color: #388e3c!important;
}

.player-four {
  background-color: #fdd835!important;
}

.skunk-line {
  position: absolute;
  left: calc(75% - 4px);
  bottom: -7px;
  font-size: 20px;
}