html, body {
  height: 100%;
}

#root {
  flex-grow: 1;
  height: 100%;
}

.container-xl {
  height: 100%;
}

.game {
  height: 95%;
  margin: 0 15px;
}

.MuiDialog-paper {
  margin: auto;
  width: 80%;
  height: auto;
  max-height: 500px;
  max-width: 500px;
  text-align: center;
}

.MuiButtonBase-root {
  margin-left: auto!important;
  margin-right: auto!important;
}

.close-modal {
  position: absolute!important;
  top: 0;
  right: 0;
  color: red;
}

.chat {
  border: 1px solid #E0E0E0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
  align-items: center;
  justify-content: center;
  min-height: 230px;
}

.leave-game {
  position: absolute!important;
  top: 10px;
  right: 10px;
  color: red!important;
}

.leave-game:focus {
  outline: none;
  box-shadow: none;
}

.game-table {
  margin: 0!important;
  padding: 0!important;
}

.top-row, .middle-row {
  min-height: 130px;
  width: 100%;
}

.middle-row {
  margin-top: auto;
}

.bottom-row {
  min-height: 210px;
  width: 100%;
  text-align: center;
  margin-top: auto;
}

.game-name, .player-name {
  color: #303030;
  padding: 20px;
}

.jumbotron {
  padding: 1rem 1rem;
  margin: auto;
  background-color: #e9ecef;
  border-radius: .3rem;
  height: auto;
}

@media only screen and (max-width: 960px) {
  .game {
    height: 100%;
    margin: 0;
  }
  .chat {
    max-height: 33%;
  }
  .chat-log {
    height: calc(66% - 20px);
  }
  .game-table {
    height: 66%;
  }

  .emoji-picker {
    margin-bottom: 0;
    top: 0;
    z-index: 10;
  }
  .emoji-mart {
    width: 100%!important;
  }
  .emoji-mart-scroll {
    height: 175px;
  }

  .send-message-button {
    font-size: 2.5rem!important;
  }

  .player-cards {
    min-height: 125px;
  }
  
  .scoreboard {
    padding: 0 0 0 50px;
  }
}

@media only screen and (max-width: 500px) {
  .top-row, .middle-row {
    margin: 0;
  }

  .jumbotron {
    font-size: 14px;
    padding: 14px;
    margin: 10px 10px;
  }

  .middle-row-spacer {
    display: none;
  }

  .bottom-row {
    min-height: 1px;
  }

  .animated-card {
    background-size: 65px auto;
    width: 13vh;
  }

  .available-card {
    max-width: 100px;
  }

  .card {
    margin: 0;
    padding: 0;
  }

  .played-cards {
    margin-top: -10px;
  }

  .played-card svg {
    height: 75px;
    width: auto;
    margin: -5px -40px 0 auto;
  }

  .game-name {
    padding: 10px;
  }
  .chat-log {
    height: calc(66% - 10px);
  }
  .getEmojiButton {
    font-size: 28px;
  }
  .send-message-button {
    font-size: 1.5rem!important;
  }
}
