html, body, #root, .MuiContainer-root, .MuiGrid-container {
  height: 100%;
}
.MuiGrid-container {
  padding: 15px 0;
}

.leave-game {
  position: absolute!important;
  top: 10px;
  right: 10px;
  color: red!important;
}

.game-log {
  position: relative;
  height: 98%;
}

.chat-log {
  height: -webkit-fill-available;
  max-height: 90%;
  overflow-y: scroll;
}

.send-form {
  position: absolute;
  bottom: 5px;
}

.player {
  display: inline-block;
  width: 65%;
  min-height: 200px;
}
