html, body {
  height: 100%;
}

#root {
  flex-grow: 1;
  height: 100%;
}

.top-row, .middle-row {
  min-height: 125px;
  width: 100%;
}

.middle-row {
  margin-top: auto;
}

.bottom-row {
  min-height: 210px;
  width: 100%;
  text-align: center;
  margin-top: auto;
}

.webmaster-info {
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

@media only screen and (max-width: 960px) {
  .game {
    height: 100%;
    margin: 0;
  }
  .chat {
    max-height: 33%;
  }
  .chat-log {
    height: calc(66% - 20px);
  }
  .game-table {
    height: 66%;
  }

  .player-cards {
    min-height: 125px;
  }
  
  .scoreboard {
    padding: 0 0 0 50px;
  }
}

@media only screen and (max-width: 500px) {
  #root {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
  }
  .top-row, .middle-row {
    margin: 0;
  }

  .help {
    top: 0;
    right: 40px;
  }

  .leave-game {
    top: 0;
    right: 0;
  }

  .jumbotron {
    font-size: 14px;
    padding: 14px;
    margin: 10px 10px;
  }

  .middle-row-spacer {
    display: none;
  }

  .bottom-row {
    min-height: 1px;
  }

  .animated-card {
    background-size: 65px auto;
    width: 13vh;
  }

  .available-card {
    max-width: 100px;
  }

  .card {
    margin: 0;
    padding: 0;
  }

  .crib-help-chip {
    margin-left: -32px;
    font-size: 11px!important;
  }

  .played-cards {
    margin-top: -10px;
  }

  .played-card svg {
    height: 75px;
    width: auto;
    margin: -5px -40px 0 auto;
  }

  .game-name {
    padding: 10px;
  }
  .chat-log {
    height: calc(66% - 10px);
  }
  .getEmojiButton {
    font-size: 28px;
  }
  .send-message-button {
    font-size: 1.5rem!important;
  }

  .animated-cards-container {
    left: 5%;
  }
}
