html, body, #root {
  height: 100%;

}

.chat-log {
  padding: 10px;
  height: 80%;
}

.leave-game {
  position: absolute!important;
  top: 10px;
  right: 10px;
  color: red!important;
}

.room-name {
  padding: 10px;
}
