.lobbyDeck {
    width: 250px;
    height: 250px;
    position: relative;
    margin: auto;
}

.animated-cards-container {
  position: absolute;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animated-card {
  background-repeat: no-repeat;
  background-position: center center;
  width: 25vh;
  max-width: 322px;
  height: 25vh;
  max-height: 581px;
  will-change: transform;
  border-radius: 10px;
  background-size: 100px auto;
}

.card {
  position: relative;
  height: auto;
  width: 15%;
  display: -ms-flexbox;
  display: inline-flex;
  -ms-flex-direction: column;
  flex-direction: row;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  border-radius: 0;
  padding: 10px;
}

.chosen {
  margin-top: -10px!important;
}