.animated-cards-container {
  position: absolute;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animated-card {
  background-repeat: no-repeat;
  background-position: center center;
  width: 15vh;
  height: 22vh;
  will-change: transform;
  border-radius: 10px;
  background-size: 85px auto;
}

.card {
  position: relative;
  height: auto;
  width: 100%;
  display: -ms-flexbox;
  display: inline-flex;
  -ms-flex-direction: column;
  flex-direction: row;
  border: none;
  border-radius: 0;
  margin-top: 15px;
}

.active-card {
  margin-top: -10px;
  box-shadow: 0 8px 6px -6px black;
  height: fit-content;
}

.overlap {
  margin: 0 -40px;
}