Flask==3.0.3
Flask-Session==0.8.0
Flask_SocketIO==5.3.6
python-engineio==4.9.0
python-socketio==5.11.2
more_itertools==10.2.0
redis==5.0.3
pytest
coverage
fakeredis
mock
gunicorn
eventlet
giphy_client
black
