.chat {
  max-height: 100%;
}

.chat-log {
  height: calc(100% - 150px);
  overflow-y: scroll;
}

::-webkit-scrollbar {
  background: white;
  z-index: -1;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-corner {
  background: white;
}

.send-form {
  position: absolute;
  bottom: 15px;
  width: 95%;
}