.chat {
  max-height: 100%;
}

.chat-log {
  height: calc(100% - 130px);
  overflow-y: scroll;
  padding: 5px 0;
}

::-webkit-scrollbar {
  background: white;
  z-index: -1;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-corner {
  background: white;
}

.send-form {
  position: absolute;
  bottom: 15px;
  width: 95%;
}

.show-emoji-picker {
  border: none;
  margin: 0;
  cursor: pointer;
}

.emoji-picker {
  position: relative;
  bottom: 10px;
  right: 0;
}

.emoji-mart {
  width: 89%!important;
}

.emoji-mart-scroll {
  height: 200px;
  border-bottom: 0;
  margin-bottom: 6px;
}

.emoji-mart-scroll + .emoji-mart-bar {
  display: none;
}

.close-emoji-menu {
  margin-left: 84%!important;
  color: red!important;
  margin-bottom: -25px!important;
}

.animation {
  background-repeat: no-repeat;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
}

.emoji-picker {
  position: absolute;
  bottom: 10px;
  right: 0;
  float: right;
  margin-left: 15px;
  margin-bottom: 80px;
}

.game-update {
  text-align: center;
  font-size: 12px;
  padding: 2px 0;
}

.points-message {
  color: #388e3c;
}

.big-message {
  font-weight: bold;
}

.send-message-form {
  padding: 0!important;
}

.send-message-button {
  font-size: 2rem;
}

.getEmojiButton {
  border: none;
  margin: auto;
  cursor: pointer;
  padding: 0 10px 0 0;
  font-size: 42px;
  color: #787878;
}