.game-log {
  position: relative;
  height: 98%;
}

.chat-log {
  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  height: fill-available;
  max-height: calc(100% - 15px);
  overflow-y: scroll;
  padding: 10px 0;
}

::-webkit-scrollbar {
  background: white;
  z-index: -1;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-corner {
  background: white;
}

.send-form {
  position: absolute;
  bottom: 15px;
  width: 95%;
}