.opponent {
  margin: auto;
  width: 50%;
  max-width: 250px;
  text-align: center;
}

.opponent-divider {
  width: 100%;
  margin: 0 0 5px!important;
}

.opponent svg {
  height: auto;
  width: 150%;
  max-width: 90px;
  padding: 0;
  border-radius: 5px;
  border: 1px solid #E0E0E0;
  margin: 0 -10%;
  pointer-events: none;
}

.opponent-overlap {
  margin: 0 -5px;
}

.opponent-card {
  height: 100%;
}

.active-opponent-card svg {
  margin-top: 15px;
  transition: margin 300ms;
  box-shadow: 0 8px 6px -6px black;
  border: 1px solid green;
}

.opponent-action-button {
  padding-top: 10px;
}