.opponent {
  margin: auto;
  max-width: 250px;
  text-align: center;
  min-height: 100%;
}

.opponent-divider {
  width: 100%;
  margin: 0 0 5px!important;
}

.opponent svg {
  height: auto;
  width: 30%;
  padding: 0;
  margin: 0 -10%;
  pointer-events: none;
}

.opponent-overlap {
  margin: 0 -5px;
}

.spaced-opponent-card svg {
  margin: 0 -1em;
  width: 33%;
}

.active-opponent-card svg {
  border: 2px solid green;
}

.opponent-score-display {
  color: green!important;
  font-weight: bold;
}